CompileFlags:
  Add: [
    "-std=c++23",
    "-Ijan",
    "-g",
    "-fsanitize=address,undefined",
    "-Wall",
    "-Wextra",
    "-pedantic",
    "-MMD",
    "-MP",
    "-I/opt/homebrew/include",
  ]
